.t_C {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: var(--font-primay-color);
  color: aliceblue;
}

.t_C h1 {
  font-size: 0.76rem;
}

.nav {
  padding: 1rem;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

.nav-logo {
  width: 20%;
}

.nav-middle {
  width: 50%;
  display: flex;
  justify-content: center;
}

.nav-middle ul li a{
  margin-right: 10px;
}

.nav-last {
  display: flex;
  justify-content: end;
  width: 30%;
}

.nav-last ul li a {
  margin-right: 20px;
}
